$pokemon-yellow: #FFCC00;  // Amarillo del logo
$pokemon-blue: #3B4CCA;    // Azul del contorno
$pokemon-white: #FFFFFF;   // Blanco del fondo
$pokemon-black: #000000;   // Negro del borde
$pokemon-red: #FF0000;     // Rojo del acento en algunas versiones